<!doctype html>
<html lang="pt-br">
<head>
    <title>Informações</title>
    <meta name="author" content="Kevin Felipe Gonçalves Rosa" charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static',filename='estilo.css')}}"/>
    <link rel="icon" type="image.png" href="{{url_for('static', filename='icone.png')}}"/>
    <style>
        div{
            display:flex;
            padding:2%;
            text-align:justify;
        }
    </style>
</head>
<body>
    <header style="height:15%; justify-content: space-between;">
        <h1>Mais informações</h1>
        <a href="/">
        <button style="margin-top:20px;">Voltar</button>
        </a>
    </header>
    <div>
        <div><h3>
            O psicoterapeuta pode lhe auxiliar na promoção de saúde mental, independente do 
            grau de adoecimento psíquico. Muitos esperam chegar em uma situação limite para 
            buscar ajuda. Porém pode-se diminuir muito sofrimento se a pessoa ao perceber certo 
            sofrimento psicológico, como tristeza e angústia, buscasse ajuda com um profissional
             qualificado.</h3>
        </div>
        <div style="padding:7%;">
            <h3>5 razões para fazer psicoterapia</br>
            Fazer psicoterapia possibilita o autoconhecimento, a solução de conflitos e
            a melhora da saúde mental. É nela que o paciente olha para si mesmo e pensa nas
            razões que levam à determinados pensamentos ou atitudes em relação a uma área de 
            sua vida. A partir de conversas e abordagens, a terapia torna possível a conscientização do 
            passado de uma pessoa, o que geralmente influencia em quem ela é hoje.</h3>
        </div>
    </div>
</body>
</html>